.shopping-cart-table {
    margin-top: 45px;
}

.shopping-cart-table .total {
    text-align: right;
    font-size: 1.3rem;
    margin-right: 10px;
}

.shopping-cart-table button {
    position: relative;
    width: 32px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
}

.shopping-cart-table .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.shopping-cart-table button .icon.-minus path {
    fill: #ffc107 !important;
}

.shopping-cart-table button:hover .icon.-minus path {
    fill: #fff !important;
}
